<!DOCTYPE html>  
<html>  
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<link rel="icon" type="image/x-icon" href="/images/nbbicon.ico">
<title>BLORIS</title>
<style>  
    body{  
      font-family: Calibri, Helvetica, sans-serif;  
      background-color: lightblue; 
      text-align: center;
    }  
    .container {  
        padding: 50px;  
      background-color: lightblue;  
    }  
        
     div {  
                padding: 10px 0;  
             }  
    hr {  
      border: 1px solid #f1f1f1;  
      margin-bottom: 25px;  
    }  
    .loginbtn {  
      background-color: #ff666b;  
      color: white;  
      padding: 16px 20px;  
      margin: 8px 0;  
      border: none;  
      cursor: pointer;  
      width: 10%;  
      opacity: 0.9; 
      border-radius: 20px; 
    }  
    .loginbtn:hover {  
      opacity: 1;  
    } 
    .closebtn {  
      background-color: #ff666b;  
      color: white;  
      padding: 16px 20px;  
      margin: 8px 0;  
      border: none;  
      cursor: pointer;  
      width: 10%;  
      opacity: 0.9; 
      border-radius: 20px; 
    }  
    .closebtn:hover {  
      opacity: 1;  
    }   

    #para {
        font-size: 18px;
        font-family: 'georgia';
        font-weight: bold;
        text-align: center;
    }
    </style>  
</head>  
<body>  
    <div class="container"></div> 
    
  <center>  <h1>Kudos in joining with BLORIS!!! </h1> </center>    
  <div>
    <ul id="para">
            Your institution details has been submitted successfully.
            Kindly wait until your institution gets verified by our executives.
            We will contact you through mail after clearing verification.
            You will receive the access and then manage your profile.
    </ul>
  </div>
  <a class="closebtn" href="/" role="button" target="_self">Home</a>    
</div>
</body>